@import 'src/styles/variables';

.menu {
  position: relative;
  z-index: 10;
  background-color: $white;
  height: 100%;
  width: 100%;
  transition: height .3s ease;

  @media only screen and (max-width: 767px) {
    border-top: 1px solid #E0E0E0;
    height: 50px;
  }
}

.container {
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  align-items: center;
  display: flex;
  height: 50px;

  @media only screen and (max-width: 1023px) {
    justify-content: space-between;
  }
}

.list {
  font-size: 14px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.item {
  align-self: center;
  height: 100%;
  margin-right: 40px;
  line-height: 1;
}

.item:first-child a{
  color: $font-green;
}

.link {
  display: block;
  color: $font-gray;
  height: 100%;
  text-decoration: none;
}

.link:hover {
  color: $font-green;
  transition: all 0.3s ease;
}

.burger {
  display: none;

  @media only screen and (max-width: 767px) {
    display: block;
  }
}

//.hamburger {
//  align-items: center;
//  display: flex;
//  flex-direction: column;
//  text-decoration: none;
//  position: relative;
//  outline: none;
//  transition: transform 0.3s ease;
//  justify-content: space-between;
//  padding: 3px 0;
//  height: 24px;
//  width: 24px;
//  z-index: 10;
//
//  &::before, &::after, > span {
//    background: $green;
//    content: "";
//    display: block;
//    transition: transform 0.3s ease;
//    height: 2px;
//    width: 20px;
//  }
//  .show & {
//    transition: transform 0.3s ease;
//
//    span {
//      left: -50px;
//      opacity: 0;
//    }
//
//    &::before, &::after {
//      top: 50%;
//      position: absolute;
//    }
//
//    &::after {
//      transform: rotate(-45deg);
//    }
//
//    &::before {
//      transform: rotate(45deg);
//    }
//  }
//}
//
//.logo {
//  display: none;
//
//  @media only screen and (max-width: 767px) {
//    display: block;
//
//  }
//}
//
//
//.logoLink {
//
//}
//
//
//.mobClose {
//  display: block;
//  z-index: 9999;
//  position: relative;
//  width: 100%;
//  background-color: $white;
//  padding: 30px;
//  transition: .3s ease-in-out;
//  box-shadow: 0 4px 8px rgba($black, 0.1);
//
//}
//
//.menuNav {
//
//}
//
//.mobList {
//  font-size: 20px;
//  display: flex;
//  align-items: flex-start;
//  flex-direction: column;
//  justify-content: flex-start;
//}
//
//.mobItem {
//  height: 100%;
//  width: 100%;
//  line-height: 1.5;
//  margin-bottom: 20px;
//}
//
//.mobLink {
//  display: block;
//  color: $black;
//  height: 100%;
//  text-decoration: none;
//  transition: all 0.3s ease;
//
//  &:hover {
//    color: $font-green;
//    text-decoration: none;
//  }
//
//  &_active {
//    color: $font-green;
//  }
//
//}
//
//.mobSocial {
//  justify-content: center;
//}
//
//
