@import 'src/styles/variables';

.info {


}

.container {

}

.wrapper {
}


.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: $font-black;
  padding-top: 104px;
  padding-bottom: 48px;


}

.block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 32px;
  row-gap: 48px;
  margin-bottom: 48px;
}


.subTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: $font-black;
  padding-bottom: 18px;
}

.textWrap {
  //display: flex;
  //align-items: flex-start;
  //justify-content: space-between;
}

.text {
  width: 100%;
  max-width: 555px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $font-black;
}

.text p {
  padding-bottom: 12px;
}

.image {

  //img {
  //  display: block;
  //  width: 100%;
  //  max-width: 555px;
  //  height: auto;
  //}
}



