@import 'src/styles/variables';

.info {
  padding-top: 104px;

  @media only screen and (max-width: 767px) {
    padding-top: 64px;
  }
}

.container {

}

.wrapper {
}


.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: $font-black;
  padding-bottom: 48px;

  @media only screen and (max-width: 767px) {
    font-size: 24px;

  }

  @media only screen and (max-width: 1023px) {

  }

}

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  column-gap: 32px;
  row-gap: 48px;
  margin-bottom: 48px;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
  }

  @media only screen and (max-width: 1023px) {

  }
}


.subTitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: $font-black;
  padding-bottom: 18px;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {

  }
}

.textWrap {
  //display: flex;
  //align-items: flex-start;
  //justify-content: space-between;
}

.text {
  width: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: $font-black;

  @media only screen and (min-width: 768px) {
    max-width: 555px;
  }

  @media only screen and (max-width: 1023px) {

  }
}

.text p {
  padding-bottom: 12px;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {

  }
}

.image {
  width: 100%;
  img {
    display: block;
    width: 100%;
    height: auto;
  }
}



