@import 'src/styles/variables';

.diploms {
  background-color: $green;
  height: 490px;
}

.container {

}

.wrapper {


}


.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: $white;
  padding-top: 48px;
  margin-bottom: 50px;
}

.slider {

  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

