@import 'src/styles/variables';

.diploms {

}

.container {

}

.wrapper {
  background-color: $green;

}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: $white;

}