@import 'src/styles/variables';

.reviews {
  background-color: #FFFFFF;
  padding-top: 104px;
  padding-bottom: 104px;

  @media only screen and (max-width: 767px) {
  padding-top: 62px;
  }

  @media only screen and (max-width: 1023px) {

  }

}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: $black;
  margin-bottom: 16px;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {
    font-weight: 800;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
}


.reviewsWrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  background: #BCD5D6;
  border-radius: 2px;
  padding: 40px 40px;

  @media only screen and (min-width: 767px) {
    padding: 63px 90px;
    flex-direction: row;
  }

  @media only screen and (max-width: 1023px) {

  }
}

.desc {
  width: 100%;
  max-width: 555px;
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  display: flex;
  align-items: center;
  color: #293A34;

  @media only screen and (min-width: 768px) {
    font-size: 32px;
    line-height: 48px;
    padding-right: 12px;
  }

  @media only screen and (max-width: 1023px) {

  }
}

.reviewsImage {
  flex-shrink: 0;
  position: relative;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {

  }

}

.imgWrap {

  img {
    display: block;
    width: 257px;
    height: auto;

    @media only screen and (max-width: 767px) {

    }

    @media only screen and (max-width: 1023px) {

    }
  }
}

.name {
  position: absolute;
  bottom: 10px;
  left: -20px;
  color: $white;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {

  }
}

.line {
  margin-top: 32px;
  background: $green;
  width: 100%;
  max-width: 1140px;
  height: 4px;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {

  }
}
.all {
  padding-top: 24px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @media only screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }

  @media only screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

}

