@import 'src/styles/variables';

.rewiews {
  background-color: #FFFFFF;
  padding-top: 104px;
  padding-bottom: 104px;

  @media only screen and (max-width: 767px) {
  padding-top: 62px;
  }

  @media only screen and (max-width: 1023px) {

  }

}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: $black;
  margin-bottom: 16px;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {
    font-weight: 800;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
}


.reviewsWrap {
  height: 304px;
  background: #BCD5D6;
  border-radius: 2px;
  display: flex;
  padding: 63px 90px;

  @media only screen and (max-width: 767px) {
    padding: 40px 40px;

  }

  @media only screen and (max-width: 1023px) {

  }
}

.desc {
  width: 100%;
  max-width: 555px;
  font-family: 'Merriweather';
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: #293A34;

  @media only screen and (max-width: 767px) {
    font-size: 28px;
    line-height: 40px;
  }

  @media only screen and (max-width: 1023px) {

  }
}

.reviewsImage {
  position: relative;
  bottom: 40px;
  right: -160px;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {

  }

}

.imgWrap {

  img {
    width: 100%;
    max-width: 257px;

    @media only screen and (max-width: 767px) {
      display: none;
    }

    @media only screen and (max-width: 1023px) {

    }
  }
}

.name {
  position: absolute;
  bottom: -80px;
  left: -20px;
  color: $white;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {

  }
}

.line {
  margin-top: 32px;
  background: $green;
  width: 100%;
  max-width: 1140px;
  height: 4px;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {

  }
}
.all {
  display: flex;
  justify-content: space-between;
  column-gap: 32px;

  @media only screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media only screen and (max-width: 1023px) {

  }

}

