@import 'src/styles/variables';


.header {
  padding-top: 30px;
  padding-bottom: 15px;
  position: relative;
  background-color: #ffffff;
}

.container {
  position: relative;
}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 30px;

  @media only screen and (min-width: 1024px) {
    margin-right: 86px;

  }
}

.logoLink {
  display: block;
  width: 250px;


  @media only screen and (max-width: 768px) {
    width: 150px;
  }

  svg {
    display: block;
    width: 100%;
    height: auto;
    }
}

.right {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contactInfo {
  display: flex;
  gap: 32px;
}

.contactInfoItem {
  display: none;
  align-items: center;
  transition: all 0.3s ease-in-out;
  color: $font-gray;

  &:hover {
    color: $font-green;
    transition: all 0.3s ease-in-out;
  }

  @media only screen and (min-width: 768px) {
    display: flex;
  }
}

.contactInfoIcon {
  margin-right: 8px;
}

.contactInfoText {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.4;
}

.contactInfoDay {
  margin-right: 4px;
}

.phoneIcon {
  display: block;
  width: 28px;
  height: 28px;

  svg {
    display: block;
    width: 100%;
    height: auto;
  }

  @media only screen and (min-width: 1024px) {
      display: none;
  }
}

.phoneBlock {
  align-items: flex-end;
  display: none;
  margin-bottom: 5px;
  line-height: 1;

  @media only screen and (min-width: 1024px) {
    display: flex;
  }
}

.phoneCode {
  color: #BBB;
  font-size: 14px;
  margin-right: 6px;
  line-height: 1;
  font-weight: bold;

  @media only screen and (max-width: 767px) {
    display: none;
  }
}


.phoneNumber {
  color: #333;
  font-size: 20px;
  line-height: 0.8;
  font-weight: bold;

  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.hamburger {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  z-index: 20;
  border: 0;
  background-color: #FFFFFF;

  @media only screen and (min-width: 768px) {
      display: none;
  }
}

.hamburgerLine {
  width: 30px;
  height: 2px;
  background-color: #016d7d;
  margin-bottom: 5px;
  transition: color 0.2s ease-in-out;
  animation: 0.5s slideIn forwards;

  &:last-child {
      margin-bottom: 0;
  }
}

.close {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  z-index: 20;
  border: 0;
  background-color: #FFFFFF;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.closeLine {
  width: 24px;
  height: 2px;
  background-color: #016d7d;
  margin-bottom: 5px;
  transition: all 0.3s ease;

  &:first-child {
    transform: rotate(45deg) translate(0, 5px);
  }

  &:last-child {
    transform: rotate(-45deg) translate(0, -5px);
    margin-bottom: 0;
  }
}
