@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import "variables";
@import "reset";

html {
  font-size: 16px;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-size: 100%;
  font-weight: 400;
  line-height: 1.15;
  font-family: 'Open Sans', 'Montserrat', sans-serif;
  position: relative;
  min-width: 320px;
  scroll-behavior: smooth;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  scroll-behavior: smooth;
  //overflow-x: hidden;
  //@media only screen and (min-width: 1024px) {
  //  overflow-x: initial;
  //}
}

.gold-cat-wrap {
  overflow-x: hidden;
}

.container {
  width: 1170px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  @media only screen and (min-width: 1024px) {
    max-width: 1366px;
  }
}

h1, .h1 {
  color: #ffffff;
  font-family: 'NeoGram Extended', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  margin: 0;

  @media only screen and (min-width: 1024px) {
    font-size: 48px;
  }

  @media only screen and (min-width: 1280px) {
    font-size: 56px;
  }
}

h2, .h2 {
  color: #000000;
  font-family: 'NeoGram Extended', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  margin: 0;

  @media only screen and (min-width: 1024px) {
    font-size: 40px;
  }

  @media only screen and (min-width: 1280px) {
    font-size: 56px;
  }
}

.hidden {
  display: none;
}

