// Default colors

$black:   #000000 !default;
$green:   #7DBA32 !default;
$teal:    #20c997 !default;
$green:    #096D78 !default;
$white:   #ffffff !default;
$light-gray: #F0F0F0 !default;


// Colors for font
$font-white: #f5f5f5 !default;
$font-gray: #666666 !default;
$font-green: #096D78 !default;


