@import 'src/styles/variables';

.parlor{
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @media only screen and (min-width: 1024px) {
    background-image: url("../../assets/img/doctors/parlor.jpg");
    height: 600px;
    padding: 60px 0;
  }

}

.container {

}

.mobImage {
  background: url("../../assets/img/doctors/parlor.jpg"), linear-gradient(180deg, #FAFAFA 0%, #E0E0E0 100%);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  height: 300px;
  margin-right: -16px;
  margin-left: -16px;

  @media only screen and (min-width: 1024px) {
    display: none;
  }

}

.wrapper{

}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -16px;
  margin-left: -16px;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {

  }

}

.textBlock {
  background-color: $green;
  border-radius: 2px;
  padding: 40px;
  color: #F5F5F5;
}

.title {
  width: 100%;
  max-width: 380px;
  color: $white;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 32px;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 20px;
  }
}

.descr {
  width: 100%;
  color: $white;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-bottom: 56px;

  @media only screen and (min-width: 1024px) {
    max-width: 385px;
  }
}

.button {

}

.btn {
  width: 100%;
  display: block;
  border: 2px solid $white;
  box-sizing: border-box;
  background-color: $green;
  box-shadow: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $white;
  padding: 10px 10px;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {
    max-width: 100%;
    line-height: 36px;
  }
}

