@import 'src/styles/variables';


.header {
  padding-top: 30px;
  padding-bottom: 15px;
  position: relative;

}

.container {
  position: relative;

}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 170px;

}

.logoLink {


}

.right {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.contactInfo {
  display: flex;
}

.contactInfoItem {
  display: flex;
  align-items: center;
  padding-right: 100px;

}

.contactInfoIcon {
  margin-right: 8px;

}

.contactInfoText {
  display: flex;
  align-items: center;
  color: $font-gray;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.4;


}

.contactInfoDay {
  margin-right: 4px;
}

.contactInfoHour {

}


.phone {
  align-items: flex-end;
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
  line-height: 1;
  margin-left: auto;
}


.phoneCode {
  color: #BBB;
  font-size: 18px;
  margin-right: 6px;
  line-height: 1;
}


.phoneNumber {
  color: #333;
  font-size: 28px;
  line-height: 0.8;

}