@import 'src/styles/variables';

.documents {
  padding-top: 104px;


  @media only screen and (max-width: 767px) {
    padding-top: 64px;
    padding-bottom: 104px;
  }

  @media only screen and (max-width: 1023px) {

  }
}

.container {

}

.wrapper {
}

.title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: $black;
  margin-bottom: 34px;

  @media only screen and (max-width: 767px) {
    font-size: 24px;
  }

  @media only screen and (max-width: 1023px) {

  }
}

.block{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #BBB;
  padding: 8px 0;

  @media only screen and (max-width: 1023px) {

  }
}


.year {
   font-weight: 700;
   font-size: 16px;
   line-height: 26px;
   color: $green;

  @media only screen and (max-width: 767px) {

  }
}

.name a {
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #333333;
   padding-left: 18px;

  @media only screen and (max-width: 767px) {

  }
}

