@import 'src/styles/variables';

.diagnostics {
  padding-top: 88px;

  @media only screen and (max-width: 767px) {
    padding-top: 42px;
  }

}

.container {

}

.wrapper {

}

.title {
  font-weight: 700;
  margin-bottom: 16px;
  font-size: 32px;
  line-height: normal;
  text-align: center;
  color: $black;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {
    font-size: 24px;
    margin-bottom: 10px;
  }

}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #666666;
  margin-bottom: 48px;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {
    margin-top: 10px;
    font-size: 16.5px;
    margin-bottom: 10px
  }

}

.block {
  padding-right: 0;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media only screen and (max-width: 767px) {
    display: block;

  }

  @media only screen and (max-width: 1023px) {

  }
}

.info {
  background-color: $green;
  padding: 48px 70px;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {
    padding: 40px 30px;
  }
}



.tlt {
  width: 100%;
  max-width: 532px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #E9EFED;
  margin-bottom: 36px;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.image {
  width: 100%;

  img {
    width: 100%;

    @media only screen and (max-width: 767px) {
      height: 50%;
    }

    @media only screen and (max-width: 1023px) {

    }
  }
}

.list {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #E9EFED;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {
    font-size: 14px;
    line-height: 23px;
  }
}

.items {
  list-style-type: square;
  margin-bottom: 15px;
  margin-left: 20px;

  @media only screen and (max-width: 767px) {

  }

  @media only screen and (max-width: 1023px) {

  }

}


